.btn {
  text-align: center;
  background-color: transparent;
  color: white;
  border-radius: 1px solid white;
  flex-shrink: 0;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1.4rem;
  background-color: rgb(54, 54, 54);
  padding: 10px 32px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  .btn:focus {
    border: none;
  }
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: rgb(153, 97, 153);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
