.projectCard {
  margin: 36px auto;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0.8rem 1rem rgba(0, 0, 0, 0.5);
  background-color: rgb(56, 56, 56);
  border-radius: 30px;
  margin-bottom: 48px;

  .projectCard__image {
    height: 25rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .projectCard__backgroundLayer {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      // background: url('https://images.unsplash.com/photo-1558980394-dbb977039a2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')
      //   center no-repeat;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
      transition: transform 0.3s;
    }
    .projectCard__details {
      width: 100%;
      height: 100%;
      background: linear-gradient(to right bottom, #af74b4c0, #5c325ec1);
      font-size: 1.4rem;
      color: #fff;
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem;
      i {
        margin-right: 1rem;
      }

      @media screen and (min-width: 600px) {
        // transform: translateX(-100%);
        transition: all 0.5s;
      }
    }
    @media screen and (min-width: 600px) {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      flex-basis: 40%;
      height: unset;
    }
  }
  .projectCard__data {
    background-color: #1f1f1f;
    background-color: rgb(35, 35, 35);
    padding: 2rem 3rem;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    .projectCard__title {
      color: whitesmoke;
      font-size: 3rem;
      font-family: 'Bitter', sans-serif;
      line-height: 1;
    }
    .projectCard__tech {
      font-size: 1.1rem;
      font-size: 1.2rem;
      text-transform: capitalize;
      // text-transform: uppercase;
      margin: 8px 0 12px 0;
      .techName {
        background-color: rgb(101, 101, 101);
        margin-right: 8px;
        border-radius: 8px;
        padding: 4px 8px;
        // font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        // color: black;
      }
      .react {
        background-color: #2fa2c250;
      }

      .typescript {
        background-color: #2d79c750;
      }
      .redux {
        background-color: #6f3cbc50;
      }
      .node {
        background-color: #62a45c50;
      }
      .sass {
        background-color: #dc68a250;
      }
    }
    .projectCard__summary {
      position: relative;
      line-height: 1.5;
      font-size: 1.5rem;
      font-family: 'Montserrat', sans-serif;
      &:first-letter {
        margin-left: 1rem;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0.5rem;
        height: 2.5rem;
        background: #6e3d71;
        border-radius: 2rem;
      }
    }

    .projectCard__btnContainer {
      display: flex;
      justify-content: right;
      gap: 12px;
      font-size: 2.1rem;
      margin-top: 1rem;
      text-align: right;

      & a {
        color: rgba(239, 239, 239, 0.704);
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          opacity: 0.95;
          color: rgb(226, 226, 226);
        }
      }
    }

    &:before {
      @media screen and (min-width: 600px) {
        // content: '';
        width: 3.5rem;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: -1.5rem;
        z-index: 10;
        transform: skewx(-5deg);
      }
    }
    @media screen and (min-width: 600px) {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      flex-basis: 60%;
    }
  }
  &:hover {
    .projectCard__backgroundLayer {
      transform: scale(1.1);
    }
    .projectCard__details {
      @media screen and (min-width: 600px) {
        opacity: 0;
      }
    }
  }
  @media screen and (min-width: 600px) {
    flex-direction: row;
    max-width: 75rem;
  }
}
