.contact {
  padding: 90px 10px 0 10px;
  // background-color: rgb(59, 29, 29);
  min-height: 90vh;

  .contact__container {
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    // background-color: rgb(27, 12, 12);
  }
}
