.techstack__title {
  margin-bottom: 8px;
}

.techstack__list {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;

  .techstack__item {
    list-style-type: square;
    transition: 0.1s;
    list-style: none;
    margin-bottom: 4px;

    &::before {
      content: '✦ ';
      font-weight: 900;
    }

    &:hover::before {
      color: rgb(214, 122, 214);
    }
  }
}
