

.techstack__list {
  -moz-column-count: 4;
  -moz-column-gap: 4px;
  -webkit-column-count: 4;
  -webkit-column-gap: 2px;
  column-count: 3;
  column-gap: 12px;

  .techstack__item {
    list-style-type: square;
    transition: 0.1s;
    list-style: none;
    margin-bottom: 4px;
    font-size: 1.5rem;

    &::before {
      content: '✦ ';
      font-weight: 900;
    }

    &:hover::before {
      color: rgb(214, 122, 214);
    }
  }
}
