.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  height: 68px;
  width: 100%;
  z-index: 3;
  background-color: var(--background-color-1);

  & .navbar__logoborder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    clip-path: polygon(0% 50%, 25% 95%, 75% 95%, 100% 50%, 75% 5%, 25% 5%);
    background-color: var(--color-secondary-4);
    background: linear-gradient(
      270deg,
      var(--color-secondary-4) 0%,
      var(--color-secondary-3) 100%
    );
    background: -moz-linear-gradient(
      180deg,
      var(--color-secondary-4) 0%,
      var(--color-secondary-3) 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      var(--color-secondary-5) 0%,
      var(--color-secondary-3) 100%
    );
    opacity: 0.85;
    transition: all 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }

    & .navbar__logo {
      clip-path: polygon(0% 50%, 25% 95%, 75% 95%, 100% 50%, 75% 5%, 25% 5%);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      background-color: var(--background-color-1);

      &:hover {
        opacity: 1;
      }

      & .logo__text {
        font-weight: 600;
        font-size: 1.8rem;
        color: var(--color-secondary-5);
      }
    }
  }

  & .navbar__items > a {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 1;
    transition: all 0.3s linear;

    &:hover {
      color: var(--color-secondary-6);
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      height: 1.5px;
      background: var(--color-secondary-6);
      transition: all 0.35s;
    }
    &:hover::before {
      width: 100%;
    }
  }

  & .navbar__toggle {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
    justify-content: space-between;
  }
  .navbar .navbar__items {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-0);
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100vw);
    transition: all 0.45s;

    & a::before {
      background-color: transparent;
    }

    &.open {
      transform: translateX(0);
    }
  }

  .navbar .navbar__toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & .toggle__bar {
      position: relative;
      width: 32px;
      height: 2px;
      background: #fff;
      transition: all 0.45s ease-in-out;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 32px;
        height: 2px;
        background-color: #fff;
        border-radius: 2px;
        transition: all 0.45s ease-in-out;
      }

      &::before {
        transform: translateY(-8px);
      }

      &::after {
        transform: translateY(8px);
      }
    }
  }
}

.navbar__toggle.open > .toggle__bar {
  transform: translateX(-40px);
  background: transparent;

  &::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }

  &::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }
}
