.mouse__container {
  position: absolute;
  bottom: 50px;
}

.mouse {
  width: 40px;
  height: 60px;
  border-radius: 20px;
  border: 2px solid var(--color-grey-8);
  cursor: pointer;
  z-index: 3;
  transition: all 0.3s;

  &:hover:after {
    border-top-color: var(--color-secondary-6);
  }
}

.mouse:before,
.mouse:after {
  content: '';
  display: block;
  position: absolute;
  transition: all 0.3s;
}

.mouse:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 10px;
  left: calc(50% - 5px);
  border: 2px solid var(--color-grey-8);
}
.mouse:after {
  top: 30px;
  left: calc(50% - 5px);
  border: 5px solid transparent;
  border-top-color: white;
  -webkit-animation: mouse__arrow 1.4s ease-in-out infinite;
  animation: mouse__arrow 1.4s ease-in-out infinite;
}

@-webkit-keyframes mouse__arrow {
  20%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(9px);
  }
  80% {
    transform: translateY(-3px);
  }
}

@keyframes mouse__arrow {
  20%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(9px);
  }
  80% {
    transform: translateY(-3px);
  }
}

@media (max-width: 991.98px) {
  .mouse {
    width: 30px;
    height: 45px;
  }

  .mouse:before {
    width: 8px;
    height: 8px;
    top: 9px;
    left: calc(50% - 4px);
  }
  .mouse:after {
    top: 24px;
    left: calc(50% - 4px);
    border: 4px solid transparent;
    border-top-color: white;
    -webkit-animation: mouse__arrow2 1.4s ease-in-out infinite;
    animation: mouse__arrow2 1.4s ease-in-out infinite;
  }

  @-webkit-keyframes mouse__arrow2 {
    20%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(7px);
    }
    80% {
      transform: translateY(-2px);
    }
  }

  @keyframes mouse__arrow2 {
    20%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(7px);
    }
    80% {
      transform: translateY(-2px);
    }
  }
}
