.experience__container {
  margin: 0 auto 30px auto;
  max-width: 100%;
}

.experience__btnContainer {
  display: flex;
  flex-direction: row;
  margin: -8px auto 24px auto;
  justify-content: center;

  @media (max-width: 376px) {
    justify-content: flex-start;
    width: 280px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 4px;
    }
  }
}

.experience__btn {
  font-family: 'Bitter', sans-serif;
  border-radius: 0;
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  transition: all 0.3s linear;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  color: white;
  outline-color: whitesmoke;
}

.experience__btn:hover {
  color: var(--color-secondary-6);
  box-shadow: 0 2px var(--color-secondary-4);
}

.experience__btn--active {
  color: var(--color-secondary-6);
  box-shadow: 0 2px var(--color-secondary-6);
}

.experience__info h3 {
  font-family: 'Bitter', sans-serif;
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

.experience__info h4 {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--color-secondary-2);
  background: var(--color-secondary-8);
  display: inline-block;
  padding: 2px 6px;
  border-radius: 0.25rem;
  font-family: 'Bitter', sans-serif;
  margin-bottom: 0.3rem;
}

.experience__date {
  color: var(--color-secondary-8);
  font-weight: 400;
  opacity: 1;
  font-family: 'Bitter', sans-serif;
}

.experience__desc {
  margin-bottom: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.experience__desc li {
  display: flex;
  gap: 5px;
  margin-bottom: 0;
  color: white;
  list-style: none;
  list-style-position: outside;

  &::before {
    content: '✦';
    font-weight: 900;
  }
  &:hover::before {
    color: var(--color-secondary-7);
  }
}

@media screen and (min-width: 992px) {
  .experience__container {
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 4rem;
  }

  .experience__btnContainer {
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
  }

  .experience__btn {
    box-shadow: -2px 0 var(--color-secondary-1);
    padding: 12px;
  }

  .experience__btn:hover {
    background-color: var(--color-secondary-0);
    box-shadow: -2px 0 var(--color-secondary-1);
  }

  .experience__btn--active {
    background-color: #1f1b1f;
    box-shadow: -2px 0 var(--color-secondary-5);

    &:hover {
      box-shadow: -2px 0 var(--color-secondary-5);
    }
  }
}
