.about {
  padding: 90px 10px 0 10px;
  display: flex;
  justify-content: center;

  .about__container {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    .about__content {
      display: flex;
      gap: 50px;
      justify-content: center;
      align-items: center;

      .item__title {
        margin-bottom: 8px;
        font-family: 'Bitter', sans-serif;
      }

      .about__info {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: 20px;
        align-items: center;
        justify-content: center;

        .about__links {
          display: flex;
          gap: 12px;
          font-size: 2.2rem;

          & a {
            color: white;
            transition: all 0.1s ease-in-out;

            &:hover {
              opacity: 0.95;
              color: var(--color-secondary-9);
            }
          }
        }
      }

      .about__image {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: 2px solid var(--color-secondary-0);
        box-shadow: 2px 0.8rem 1rem rgba(0, 0, 0, 0.5);
        height: 200px;
        width: 200px;
        background-color: var(--color-secondary-1);
        border-radius: 50%;
        transition: all 0.3s ease-in-out;

        &:hover {
          background: var(--color-secondary-2);
        }

        &:hover::after {
          opacity: 0;
        }

        &:hover svg {
          filter: grayscale(0%);
        }

        & img {
          position: relative;
          justify-self: center;
          align-self: center;
          width: 196px;
          height: 196px;
          border-radius: 50%;
        }
      }

      .about__text {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
      }
    }
  }
}

.experience__title {
  color: white;
  font-size: 25.5px;
  font-family: 'Bitter', sans-serif;
}

@media (max-width: 768px) {
  .about {
    .about__container {
      align-items: center;

      .about__title {
        font-size: 4rem;
      }

      .about__content {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .item__title {
          text-align: center;
        }

        .about__info {
          display: flex;
          align-self: center;
        }
      }
    }
  }
}
