/*
=============== 
Variables
===============
*/

:root {
  //
  --color-black: #222;
  --background-color-0: rgb(25, 23, 28);
  --background-color-1: #1f1f1f;
  --background-color-2: rgb(35, 35, 35);
  --background-color-3: rgb(56, 56, 56);

  /* Primary color shades */
  --color-primary-0: rgb(25, 23, 28);
  --color-primary-1: #1a1725;
  --color-primary-2: #2d283b;
  --color-primary-3: rgb(51, 44, 74);
  --color-primary-4: #3b3454;
  --color-primary-5: #6d6495;

  /* Secondary color shades*/
  --color-secondary-0: #1f1b1f;
  --color-secondary-1: rgb(58, 49, 62);
  --color-secondary-2: rgb(65, 57, 72);
  --color-secondary-3: rgb(103, 76, 118);
  --color-secondary-4: rgb(136, 97, 153);
  --color-secondary-5: rgb(174, 125, 188);
  --color-secondary-6: rgb(203, 163, 221);
  --color-secondary-7: hsl(274, 50%, 89%);
  --color-secondary-8: hsl(278, 54%, 93%);
  --color-secondary-9: rgb(251, 241, 255);

  /* shades of grey */
  --color-grey-1: rgb(14, 14, 14);
  --color-grey-2: rgb(27, 27, 27);
  --color-grey-3: rgb(54, 54, 54);
  --color-grey-4: rgb(70, 70, 70);
  --color-grey-5: rgb(101, 101, 101);
  --color-grey-6: rgb(162, 162, 162);
  --color-grey-7: rgb(194, 194, 194);
  --color-grey-8: rgb(231, 231, 231);
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color-0);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary-4) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--color-secondary-0);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-2);
  border-radius: 10px;
  border: 1px solid var(--color-secondary-0);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-secondary-3);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
}
